TZ=Asia/Shanghai
PUID=1000
PGID=1000

NODE_NAME=wk-iot-02
NODE_IP=192.168.1.102
WG_IP=10.8.0.102
DOMAIN=yourdomain.com

HA_IMAGE=ghcr.io/adyoull/ha-armv7:latest
PIWIGO_PORT=8080

WG_PEER01_PUBKEY=peer01_public_key_here
WG_PEER03_PUBKEY=peer03_public_key_here
